:root {
  --indigo-400: #6610f2;
  --indigo-light: #9e68eb;
}

*,
*::after,
*::before {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}



@media screen and (max-width: 992px) {



  .hero-bg {
    background-image: url('../images/extra_img/gabriel-sollmann-Y7d265_7i08-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .hero-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.29);
    z-index: 1;
  }

  .hero-text {
    position: absolute;
    z-index: 2;
    text-align: center;
    color: #fff;
  }


  h1 {
    font-size: 30px !important;
  }

  h2 {
    font-size: 22px !important;
  }

  h3,
  p {
    font-size: 16px;
  }

  .hero-text p {
    font-size: 20px !important;
  }

  
  

  .navbar-collapse {
    background-color: rgba(55, 53, 53, 0.7);

  }

  .left-section {
    display: none;
  }


  .card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    padding: 0;
    border-radius: 15px;
  }

  .table-container {
    margin-top: 20px;

  }

  .section-img-about-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    margin: 0 auto;
    padding: 0;
    border-radius: 15px;
  }

  .logo {
    font-family: cormorant;
    font-size: 26px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #ffffff, #a56eff);
    /* Градиент золота */
    -webkit-background-clip: text;
    /* Для Safari и браузеров на основе WebKit */
    background-clip: text;
    color: transparent;
    /* Делаем текст прозрачным */
  }


  footer {
    flex-direction: row;
    position: relative;
    z-index: 5;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(26, 33, 31);
    color: var(--indigo-400);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

  }

  .footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer p,
  footer a {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #9e68eb;
    text-align: center;
    display: block;
    margin: 0;
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }

  footer ul {
    list-style-type: none;
    padding: 0;
  }

  footer li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    color: #a30a0a;
  }

  footer a:hover {
    color: #fff;
  }




  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }

  .card-img-top {
    display: inline-block;
    width: 100%;
    max-width: 150px;
    height: 250px;
    object-fit: cover;
    margin: 0 auto;
    padding: 0;
    /* centers the image */
    border-radius: 10px 10px 0 0;
  }

  .card-title {
    font-size: 1.25em;
    font-weight: bold;
    color: #495057;
  }

  .card-text {
    font-size: 1em;
    color: #6c757d;
  }

  .about-text-top {
    font-size: 20px;
    color: #ffffff;
  }

  .about-text {
    font-size: 16px;
  }

  
  .inner-card {
    border: 1px solid #6610f2;
}

  .card {
    width: 300px;
    display: flex;
    justify-content: center !important;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(104, 18, 243, 0.5);
    transition: 0.3s;
    background-color: #f8f9fa;
  }
  
  span ul {
    font-size: 16px;
    color: #000000;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 auto !important;
    padding: 0;
  }

  button.btn-link.logout {
    text-decoration: none;
    background-color: rgba(55, 53, 53, 0.091);
    padding: 5px 10px;
    border-radius: 1px;
    margin: 10px auto;
    padding: 0;
  }

  .card-body {
    padding: 0;
  
  }


}


@media screen and (min-width: 992px) {

  .card {
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(104, 18, 243, 0.5);
    transition: 0.3s;
    background-color: #f8f9fa;
  }
  

  .logo {
    font-family: cormorant;
    font-size: 34px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #ffffff, #a56eff);
    /* Градиент золота */
    -webkit-background-clip: text;

    background-clip: text;
    color: transparent;

  }


  h1 {
    font-family: 'Roboto', sans-serif !important;
    font-size: 40px !important;
    font-weight: 700 !important;
    line-height: 1.5 !important;
    color: rgb(255, 255, 255) !important;
  }

  h2 {
    font-family: 'Roboto', sans-serif !important;
    font-size: 22px !important;
    font-weight: 700 !important;
    line-height: 1.5 !important;
    color: #000000;
  }

  h3 {
    font-family: 'Roboto', sans-serif !important;
    font-size: 19px;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
  }

  .hero-text p {
    font-size: 24px !important;
    color: #ffffff !important;
  }

  



  .hero-bg {
    background-image: url('../images/extra_img/gabriel-sollmann-Y7d265_7i08-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .hero-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.29);
    z-index: 1;
  }

  .hero-text {
    position: absolute;
    z-index: 2;
    text-align: center;
    color: #fff;
  }




  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }

  .card-img-top {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    height: 350px;
    object-fit: cover;
    margin: 0 auto;
    padding: 0;
    /* centers the image */
    border-radius: 10px 10px 0 0;
  }

  .card-title {
    font-size: 1.25em;
    font-weight: bold;
    color: #495057;
  }

  .card-text {
    font-size: 1em;
    color: #6c757d;
  }


  .collapse {
    margin-left: 250px;
  }

  .container .form-contact {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    max-width: 60%;
  }

  .section-img-about-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    margin: 0 auto;
    padding: 0;
    border-radius: 15px;
  }

  .about-text-top {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: justify;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
  }

  .about-text {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    text-align: justify;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
  }



  /*---------------------- Footer Start -----------------------------------*/



  footer {
    position: relative;
    z-index: 5;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(26, 33, 31);
    color: var(--indigo-400);
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

  }

  footer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #9e68eb;
  }

  footer a {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-decoration: none;
  }

  footer ul {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
  }

  footer li {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    padding: 0;
    color: #a30a0a;
  }

  footer a:hover {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-decoration: none;
  }

  /*---------------------- Footer End -----------------------------------*/

 button.btn-link.logout {
    text-decoration: none;
    background:   rgb(26, 33, 31) !important;
    border-color: 0.1px  rgb(26, 33, 31) !important;
    color: #fff;
    padding: 5px 10px;
    border-radius: 1px;
    margin: 0;
    padding: 0;
  }


}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  height: 100%;
}

.active {
  color: #9e68eb !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  
}

.navbar-toggler {
  color: #fff !important;

}

.btn {

  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
  line-height: 1.5;
  color: #fff !important;
  background-color: #6610f2 !important;
  border-color: #6610f2 !important;
  padding: 5px 10px;
  border-radius: 5px;
  transition: transform 0.5s ease-in-out !important;
}

.return-btn {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
  line-height: 1.5;
  color: #fff !important;
  background-color: #1a211fe0 !important;
  padding: 5px 10px;
  border-radius: 5px;
  transition: transform 0.5s ease-in-out !important;
}

.btn:hover {
  transform: scale(1.1) !important;
}


.header {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(26, 33, 31);
  color: var(--indigo-400);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header-offset {
  padding-top: 85px !important;
}





a.nav-link {
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
}

a.nav-link:hover {
  letter-spacing: 2px;
  color: #d4aa01;
  text-decoration: none;
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}




/* search bar */

form .form-control {
  margin: 0 auto;
  width: 250px !important;
}

table {
  /* flex-wrap: wrap; */
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000000;
}


.navbar-text {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.navbar-text ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-text li {
  margin-left: 10px;
  /* или другое значение отступа между кнопками */
}


/* ?? */

/* .btn .btn-outline-success {
  background-color: #fff;
  color: #ffffff;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
} */

.btn-outline-success {
  color: #fff;
  border-color: #fff;
}



.books {
  text-align: center;
  margin: 20px auto;
}





/*------------- body Start ---------------- */

section {
  padding: 0 0 50px 0;
  margin: 20px 0;
}



.container .inner-wraper {

  width: 100%;

  margin: 110px auto 20px;
  height: auto;
  padding: 0;

}



th,
td,
tr {
  text-align: center;
  padding: 10px;


  border-color: #000000 !important;
}


/*  ------------------  Home Page Start ----------------- */





.center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form#addBookForm {
  margin-top: 20px;
  margin-bottom: 150px;
}

form#addBookForm .form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
}

form#addBookForm .mb-3 {
  margin-bottom: 20px;
}

.btn-group {
  margin-top: 15px;
}

.shadow-style {
  box-shadow: 0 0 20px rgba(104, 18, 243, 0.5);
}



/*  ------------------  section img-descriprion ----------------- */



.library-description {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: block;
  background: #e5e0f45e;
  color: #000000;
}

.library-description img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border-radius: 15px;

}

.library-description-text h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 auto 20px;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #000000;
}



.library-description-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #000000;
}



/*-------------------------------------
# Portfolio
---------------------------------------*/
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 50px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px 10px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: #4d4643;
  transition: all 0.3s;
  border-radius: 50px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #6610f2;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #2b2320;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #65534c;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #483b36;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #f03c02;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-item .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-links a:hover {
  color: #fe825a;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}


.portfolio-item img {
  width: 100%;
  height: auto;
  align-items: center;
  margin: 0 auto;
}

/*---------------------------------- Portfolio Details-----------------------------------*/

/*------------- login page ------------------ */

.login-page {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-section {
  flex: 1;
  background-image: url('');
  background-size: cover;
  background-position: center;
  padding-left: 0;
}

.right-section {
  flex: 1;
  display: flex;
  align-items: center !important;
  justify-content: center;
  max-width: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.login-container {
  width: 70%;
  height: 400px;
  padding: 20px;
  background-color: #e4d3ff79;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img-signup {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  border-radius: 15px;
}




/*  ------------------ Contact page ----------------- */
.container .form-contact {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.contact-f-center {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container .form-contact label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.container .form-contact input[type="text"],
.container .form-contact input[type="email"],
.container .form-contact textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}

.container .form-contact input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container .form-contact input[type="submit"]:hover {
  background-color: #45a049;
}

.map {
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.inner-wrapper {
  display: flex;
  align-items: stretch;
}

.inner-wrapper .col-lg-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-img {
  object-fit: cover;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  border-radius: 15px;
}



.left-align {
  text-align: left;
}


/*  ------------------ About page ----------------- */



.about-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}



.section-about {
  position: relative;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.img-about-top {
  position: fixed;
  z-index: 2;
  top: 0;
  /* Adjust this value as needed */
  left: 0;
  /* Adjust this value as needed */
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.flex-column {
  display: flex;
  padding: 100px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-color-1 {
  margin: 0 auto;
  padding: 40px 0;
  background-color: #2c2c2db1;
}

.about-color-2 {
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 40px 0;
}

.flex-fill {
  flex: 1 1 auto;
}

.flex-fill img {
  width: 100%;
  height: auto;
  object-fit: cover;
}





/*  ------------------ Home Page End ----------------- */